In [53]:
import pandas as pd
import random
import datetime

In [54]:
def generate_ola_records():
    data = []

    for i in range(50):
        application = random.choice(['APP_1', 'APP_2'])
        category = random.choice(['CAT_1', 'CAT_2', 'CAT_3'])
        description = random.choice(['DESC_1', 'DESC_2'])
        job_name = f'JOB_{i+1}'
        cutoff = datetime.time(random.randint(0, 6), 0)
        active = random.choices([True, False], weights=[90, 10], k=1)[0]
        source = random.choice(['SRC_1', 'SRC_2'])
        daymatch = random.choices([True, False], weights=[90, 10], k=1)[0]

        # Append the data to the list
        data.append([application, category, description, job_name, cutoff, active, source, daymatch])

    # Create the DataFrame
    df = pd.DataFrame(data, columns=['Application', 'Category', 'Description', 'Job Name', 'Cutoff', 'Active', 'Source', 'Daymatch'])

    # Return the DataFrame
    return df

# Call the function and assign the returned DataFrame to ola_records
ola_records = generate_ola_records()

In [55]:

def get_date():
    # Get today's date
    today = pd.Timestamp.today().normalize()

    # Get a date that is either yesterday or the day before yesterday, but not on a weekend
    for i in range(2, 7):
        date = today - pd.DateOffset(days=i)
        if date.dayofweek < 5:  # If the date is not on a weekend
            return date

def get_start_time(date):
    # Create a start time
    return datetime.datetime.combine(date, datetime.time(random.randint(20, 23), random.randint(0, 59))) if random.random() < 0.5 else datetime.datetime.combine(date + pd.DateOffset(days=1), datetime.time(random.randint(0, 1), random.randint(0, 59)))

def get_cutoff_time(date):
    # Create a cutoff time
    return datetime.datetime.combine(date + pd.DateOffset(days=1), datetime.time(random.randint(0, 5), 0))

def get_end_time(date):
    # Create an end time
    return datetime.datetime.combine(date + pd.DateOffset(days=1), datetime.time(random.randint(0, 7), random.randint(0, 59)))

In [56]:
def generate_data(ola_records):
    # Create a list of unique job names
    job_names = ola_records['Job Name'].unique().tolist()

    data = []
    for i in range(20):
        date = get_date()
        start_time = get_start_time(date)
        cutoff_time = get_cutoff_time(date)
        end_time = get_end_time(date)
        buffer = (cutoff_time - end_time).total_seconds() / 3600

        # Shuffle the job names for each date
        random.shuffle(job_names)
        job_name = job_names[i % len(job_names)]

        # Append the data to the list
        data.append([date, start_time, cutoff_time, end_time, buffer, job_name])

    # Create the DataFrame
    df = pd.DataFrame(data, columns=['Date', 'Start Time', 'Cutoff Time', 'End Time', 'Buffer', 'Job Name'])

    # Return the DataFrame
    return df

# Call the function with the ola_records DataFrame
data_df = generate_data(ola_records)

In [58]:

data_df

,Date,Start Time,Cutoff Time,End Time,Buffer,Job Name
0,2023-12-15,2023-12-16 01:00:00,2023-12-16 00:00:00,2023-12-16 04:34:00,-4.566667,JOB_2
1,2023-12-15,2023-12-15 20:07:00,2023-12-16 01:00:00,2023-12-16 00:32:00,0.466667,JOB_37
2,2023-12-15,2023-12-16 00:29:00,2023-12-16 04:00:00,2023-12-16 07:59:00,-3.983333,JOB_9
3,2023-12-15,2023-12-16 01:11:00,2023-12-16 04:00:00,2023-12-16 06:09:00,-2.150000,JOB_1
4,2023-12-15,2023-12-16 01:03:00,2023-12-16 03:00:00,2023-12-16 05:48:00,-2.800000,JOB_11
5,2023-12-15,2023-12-16 00:00:00,2023-12-16 02:00:00,2023-12-16 04:14:00,-2.233333,JOB_3
6,2023-12-15,2023-12-15 21:06:00,2023-12-16 04:00:00,2023-12-16 07:54:00,-3.900000,JOB_44
7,2023-12-15,2023-12-15 23:04:00,2023-12-16 02:00:00,2023-12-16 05:15:00,-3.250000,JOB_3
8,2023-12-15,2023-12-15 23:06:00,2023-12-16 01:00:00,2023-12-16 06:11:00,-5.183333,JOB_20
9,2023-12-15,2023-12-15 22:24:00,2023-12-16 00:00:00,2023-12-16 01:36:00,-1.600000,JOB_23
10,2023-12-15,2023-12-15 20:52:00,2023-12-16 01:00:00,2023-12-16 02:43:00,-1.716667,JOB_15
11,2023-12-15,2023-12-15 23:49:00,2023-12-16 03:00:00,2023-12-16 07:35:00,-4.583333,JOB_44
12,2023-12-15,2023-12-16 00:46:00,2023-12-16 01:00:00,2023-12-16 05:02:00,-4.033333,JOB_13
13,2023-12-15,2023-12-16 00:33:00,2023-12-16 03:00:00,2023-12-16 06:33:00,-3.550000,JOB_1
14,2023-12-15,2023-12-16 01:31:00,2023-12-16 02:00:00,2023-12-16 07:40:00,-5.666667,JOB_14
15,2023-12-15,2023-12-16 01:49:00,2023-12-16 01:00:00,2023-12-16 05:04:00,-4.066667,JOB_40
16,2023-12-15,2023-12-16 00:40:00,2023-12-16 02:00:00,2023-12-16 07:57:00,-5.950000,JOB_17
17,2023-12-15,2023-12-16 00:47:00,2023-12-16 01:00:00,2023-12-16 00:10:00,0.833333,JOB_45
18,2023-12-15,2023-12-16 01:21:00,2023-12-16 05:00:00,2023-12-16 06:51:00,-1.850000,JOB_3
19,2023-12-15,2023-12-16 00:16:00,2023-12-16 05:00:00,2023-12-16 00:41:00,4.316667,JOB_14